<div class="container">
  <div class="title">
    <h1 class="content">NgxSpinners</h1>
  </div>
  <div id="spinners">
    <div class="card">
      <h3 class="title">SyncLoader</h3>
      <ngx-sync-loader class="ngx-loader"></ngx-sync-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">SquareLoader</h3>
      <ngx-square-loader class="ngx-loader"></ngx-square-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">SkewLoader</h3>
      <ngx-skew-loader class="ngx-loader"></ngx-skew-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">ScaleLoader</h3>
      <ngx-scale-loader class="ngx-loader"></ngx-scale-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">RotateLoader</h3>
      <ngx-rotate-loader class="ngx-loader"></ngx-rotate-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">RiseLoader</h3>
      <ngx-rise-loader class="ngx-loader"></ngx-rise-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">RingLoader</h3>
      <ngx-ring-loader class="ngx-loader"></ngx-ring-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">PulseLoader</h3>
      <ngx-pulse-loader class="ngx-loader"></ngx-pulse-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">PropagateLoader</h3>
      <ngx-propagate-loader class="ngx-loader"></ngx-propagate-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">PacmanLoader</h3>
      <ngx-pacman-loader class="ngx-loader"></ngx-pacman-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">MoonLoader</h3>
      <ngx-moon-loader class="ngx-loader"></ngx-moon-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">HashLoader</h3>
      <ngx-hash-loader class="ngx-loader"></ngx-hash-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">GridLoader</h3>
      <ngx-grid-loader class="ngx-loader"></ngx-grid-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">FadeLoader</h3>
      <ngx-fade-loader class="ngx-loader"></ngx-fade-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">DotLoader</h3>
      <ngx-dot-loader class="ngx-loader"></ngx-dot-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">ClipLoader</h3>
      <ngx-clip-loader class="ngx-loader"></ngx-clip-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">ClimbingBoxLoader</h3>
      <ngx-climbing-box-loader class="ngx-loader"></ngx-climbing-box-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">CircleLoader</h3>
      <ngx-circle-loader class="ngx-loader"></ngx-circle-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">BounceLoader</h3>
      <ngx-bounce-loader class="ngx-loader"></ngx-bounce-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">BeatLoader</h3>
      <ngx-beat-loader class="ngx-loader"></ngx-beat-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
    <div class="card">
      <h3 class="title">BarLoader</h3>
      <ngx-bar-loader class="ngx-loader"></ngx-bar-loader>
      <div class="configuration">
        <label>
          <span>size</span>
          <input class="input" type="number"/>
          <span class="input-block-line"></span>
        </label>
        <label>
          <span>margin</span>
          <input class="input" type="text"/>
          <span class="input-block-line"></span>
        </label>
      </div>
    </div>
  </div>
</div>

